body,
html {
  height: 100%;
  width: 100%;
}

.body-center {
  justify-content: center;
  align-items: center;
}

.body-dark {
  background-color: #36393f;
}

.wave-container {
  position: relative;
  background: #8104f5;
  color: #FFF;
  overflow: hidden;
}

.wave-container-content {
  padding: 60px;
  padding-bottom: 0px;
}

.wave-container>svg {
  display: block;
}

.hero-top {
  font-weight: 500;
  margin: 10px 0;
  margin-bottom: 0;
}

.hero-link {
  color: white !important;
  text-decoration: underline;
}

.hero-cards {
  position: relative;
  top: -20%;
  padding: 0 100px;
  height: 200px;
}

@media screen and (max-width: 790px) {
  .hero-cards {
    top: 0;
    padding: 0 15px;
  }
}

p.footerText {
  justify-content: center;
  font-size: 10px;
  font-color: #8f8f8f;

.dashboard-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard {
  background-color: #202225;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin: 2px 5px;
  color: #72767d;
}

.dashboard-below {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

.dashboard-guilds {
  display: flex;
  min-width: 66px;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.dashboard-guilds::-webkit-scrollbar {
  display: none;
}

.dashboard-content {
  background-color: #36393f;
  border-top-left-radius: 8px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-main {
  padding: 20px;
  display: block;
  color: #fff;
  overflow-y: auto;
  flex: 1 1 auto;
}

.dashboard-card {
  border-radius: 4px;
  background-color: rgba(32, 34, 37, 0.6);
  padding: 10px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
}

.dashboard-card.no-padding {
  padding: 0;
}

.padded {
  padding: 10px !important;
}

.dashboard-card-header-image {
  position: absolute;
  max-width: 20%;
  right: 10px;
  top: 0px;
}

.dashboard-card.primary {
  background-color: #8104f5;
  color: #ffffff;
}

.dashboard-card.warn {
  background-color: #FF8300;
  color: #ffffff;
}

.dashboard-card.embed {
  border-left: 4px solid #202225;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.dashboard-card-header {
  background-color: #8104f5;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

.dashboard-card.placeholder {
  background-color: transparent;
  border: 1px dashed #202225;
  color: #202225;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  padding: 20px;
}

.dashboard-card.loading {
  background-color: #2f3136 !important;
  animation: placeholder 2s infinite;
  color: transparent;
}

.hidden {
  display: none !important;
}

.dashboard-card.placeholder:hover {
  border-color: #8104f5;
  color: #8104f5;
}

.ac {
  align-items: center;
}

.dashboard-card.block {
  width: 100%;
}

.progress,
.inline {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.progress {
  margin-right: 20px;
}

.flex {
  display: flex;
}

.flex.f-column {
  flex-direction: column;
}

.title-bar {
  padding-left: 20px;
  color: #b9bbbe;
  min-height: 48px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.title-bar::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
}

.d-input {
  padding: 10px;
  height: 40px;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  color: #dcddde;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  position: relative;
  display: flex;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 100px !important;
}

.CodeMirror-cursor {
  border-left: 1px solid #ffffff !important;
}

.CodeMirror {
  font-size: 16px !important;
  border-radius: 4px !important;
  color: #dcddde !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  transition: border-color .2s !important;
}

.CodeMirror:hover:not(.CodeMirror-focused) {
  border-color: #040405 !important;
}

.CodeMirror-focused {
  border-color: #8104f5 !important;
}

textarea.d-input {
  height: auto;
}

.d-input:hover {
  border-color: #040405;
}

.d-input:focus,
.d-input.open:not(.disabled) {
  border-color: #8104f5;
}

.d-input.error {
  border-color: #E74C3C !important;
}

.d-input:disabled,
.d-input.disabled {
  opacity: .5;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.d-input.open:not(.disabled) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.d-input.open-top {
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
}

.d-input-autocomplete {
  max-height: 160px;
  height: 160px;
  width: 100%;
  padding: 6px;
  background-color: #202225;
  border-radius: 6px 6px 0 0;
}

.auto-complete-option {
  padding: 6px;
  border-radius: 4px;
}

.auto-complete-option:hover {
  background-color: #36393f;
}

.d-label {
  font-weight: 500;
  color: #8e9297;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-top: 10px;
}

.spacer {
  flex: 1 0 auto;
}

.guild-list-item {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.guild-list-item .g-pill {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 8px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  contain: layout size;
}

.guild-list-item .g-pill .g-line {
  position: absolute;
  display: block;
  width: 8px;
  height: 0;
  border-radius: 0 4px 4px 0;
  margin-left: -8px;
  background-color: #fff;
  transition: height .2s, margin-left .2s;
}

.guild-list-item:hover .g-pill .g-line {
  margin-left: -4px;
  height: 20px;
}

.guild-list-item.active .g-pill .g-line {
  margin-left: -4px;
  height: 40px;
}

.guild-icon {
  margin: auto;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius .2s;
}

.guild-icon.placeholder {
  background-color: #2f3136;
  animation: placeholder 2s infinite;
}

.guild-icon img {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  z-index: 2;
}

.guild-list-item:hover .guild-icon img:before {
  background-color: #8104f5;
}

.guild-text {
  position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.guild-icon img:before {
  content: '';
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #2f3136;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  left: -1px;
  transition: background-color .2s;
}

.guild-list-item:hover .guild-icon,
.guild-list-item.active .guild-icon {
  border-radius: 16px;
}

.divider {
  width: 100%;
  border-bottom: solid 1px #202225;
  margin: 10px 0;
}

@keyframes placeholder {
  0% {
    background-color: #2f3136;
  }

  25% {
    background-color: transparent;
  }

  50% {
    background-color: #2f3136;
  }

  100% {
    background-color: #2f3136;
  }
}

.loader {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.loader.indeterminate::before {
  left: -20%;
  width: 20%;
  animation: load-move 1s infinite;
}

.loader:not(.indeterminate)::before {
  width: var(--value);
}

.loader::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #8104f5;
}

@keyframes load-move {
  from {
    left: -20%;
    right: 100%;
  }

  to {
    left: 100%;
    right: 20%;
  }
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: -1px;
  right: -1px;
  border: 1px solid #8104f5;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #36393f;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  max-height: 176px;
  overflow-y: scroll;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  color: #c9c9c9;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-option.selected {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.2s;
}

.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #fff;
}

.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.mb {
  margin-bottom: 10px;
}

.premium-badge {
  color: rgb(129, 4, 245);
  background-color: rgba(129, 4, 245, 0.1);
  padding: 0.3em 0.5em;
  border-radius: 4px;
}

.beta-badge {
  color: rgb(228, 51, 33);
  background-color: rgba(228, 51, 33, 0.1);
  padding: 0.3em 0.5em;
  border-radius: 4px;
}

.success-badge {
  color: rgb(46, 204, 113);
  background-color: rgba(46, 204, 113, 0.1);
  padding: 0.3em 0.5em;
  border-radius: 4px;
}

.dashboard-button {
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 0 24px;
  height: 40px;
  background-color: transparent;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;
}
.dashboard-button span {
  margin: auto;
}
.dashboard-button:disabled {
  opacity: 0.5;
}
.dashboard-button.fluid {
  width: 100%;
}
.dashboard-button.color-primary {
  box-shadow: 0 0 0 0rem rgba(97, 3, 185, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(97, 3, 185, 0.5);
}
.dashboard-button.color-success {
  box-shadow: 0 0 0 0rem rgba(50, 136, 97, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(50, 136, 97, 0.5);
}
.dashboard-button.color-light {
  box-shadow: 0 0 0 0rem rgba(210, 214, 218, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(210, 214, 218, 0.5);
}
.dashboard-button.color-warning {
  box-shadow: 0 0 0 0rem rgba(169, 112, 17, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(169, 112, 17, 0.5);
}
.dashboard-button.color-info {
  box-shadow: 0 0 0 0rem rgba(16, 114, 130, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(16, 114, 130, 0.5);
}
.dashboard-button.color-error {
  box-shadow: 0 0 0 0rem rgba(231, 19, 19, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-error:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 19, 19, 0.5);
}
.dashboard-button.color-gray {
  box-shadow: 0 0 0 0rem rgba(117, 124, 136, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-gray:focus {
  box-shadow: 0 0 0 0.2rem rgba(117, 124, 136, 0.5);
}
.dashboard-button.color-patreon {
  box-shadow: 0 0 0 0rem rgba(214, 51, 27, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-patreon:focus {
  box-shadow: 0 0 0 0.2rem rgba(214, 51, 27, 0.5);
}
.dashboard-button.color-discord {
  box-shadow: 0 0 0 0rem rgba(66, 96, 205, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-discord:focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 96, 205, 0.5);
}
.dashboard-button.color-dark {
  box-shadow: 0 0 0 0rem rgba(3, 3, 3, 0.5);
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.color-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.5);
}
.dashboard-button.look-filled.color-primary {
  background-color: #8104f5;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-primary:hover {
  background-color: #7104d7;
}
.dashboard-button.look-filled.color-primary:active {
  background-color: #6103b9;
}
.dashboard-button.look-filled.color-success {
  background-color: #43b581;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-success:hover {
  background-color: #3b9f71;
}
.dashboard-button.look-filled.color-success:active {
  background-color: #328861;
}
.dashboard-button.look-filled.color-light {
  background-color: #f4f5f6;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
  color: #000000;
}
.dashboard-button.look-filled.color-light:hover {
  background-color: #e3e6e8;
}
.dashboard-button.look-filled.color-light:active {
  background-color: #d2d6da;
}
.dashboard-button.look-filled.color-warning {
  background-color: #e19517;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-warning:hover {
  background-color: #c58314;
}
.dashboard-button.look-filled.color-warning:active {
  background-color: #a97011;
}
.dashboard-button.look-filled.color-info {
  background-color: #17a2b8;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-info:hover {
  background-color: #148a9d;
}
.dashboard-button.look-filled.color-info:active {
  background-color: #107282;
}
.dashboard-button.look-filled.color-error {
  background-color: #f04747;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-error:hover {
  background-color: #ee2b2b;
}
.dashboard-button.look-filled.color-error:active {
  background-color: #e71313;
}
.dashboard-button.look-filled.color-gray {
  background-color: #4f545c;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-gray:hover {
  background-color: #626872;
}
.dashboard-button.look-filled.color-gray:active {
  background-color: #757c88;
}
.dashboard-button.look-filled.color-patreon {
  background-color: #e85b46;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-patreon:hover {
  background-color: #e5432b;
}
.dashboard-button.look-filled.color-patreon:active {
  background-color: #d6331b;
}
.dashboard-button.look-filled.color-discord {
  background-color: #7289da;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-discord:hover {
  background-color: #5a75d4;
}
.dashboard-button.look-filled.color-discord:active {
  background-color: #4260cd;
}
.dashboard-button.look-filled.color-dark {
  background-color: #222222;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-filled.color-dark:hover {
  background-color: #131313;
}
.dashboard-button.look-filled.color-dark:active {
  background-color: #030303;
}
.dashboard-button.look-text.color-primary {
  color: #8104f5;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-primary:hover {
  color: #7104d7;
}
.dashboard-button.look-text.color-primary:active {
  color: #6103b9;
}
.dashboard-button.look-text.color-success {
  color: #43b581;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-success:hover {
  color: #3b9f71;
}
.dashboard-button.look-text.color-success:active {
  color: #328861;
}
.dashboard-button.look-text.color-light {
  color: #f4f5f6;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-light:hover {
  color: #e3e6e8;
}
.dashboard-button.look-text.color-light:active {
  color: #d2d6da;
}
.dashboard-button.look-text.color-warning {
  color: #e19517;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-warning:hover {
  color: #c58314;
}
.dashboard-button.look-text.color-warning:active {
  color: #a97011;
}
.dashboard-button.look-text.color-info {
  color: #17a2b8;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-info:hover {
  color: #148a9d;
}
.dashboard-button.look-text.color-info:active {
  color: #107282;
}
.dashboard-button.look-text.color-error {
  color: #f04747;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-error:hover {
  color: #ee2b2b;
}
.dashboard-button.look-text.color-error:active {
  color: #e71313;
}
.dashboard-button.look-text.color-gray {
  color: #4f545c;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-gray:hover {
  color: #626872;
}
.dashboard-button.look-text.color-gray:active {
  color: #757c88;
}
.dashboard-button.look-text.color-patreon {
  color: #e85b46;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-patreon:hover {
  color: #e5432b;
}
.dashboard-button.look-text.color-patreon:active {
  color: #d6331b;
}
.dashboard-button.look-text.color-discord {
  color: #7289da;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-discord:hover {
  color: #5a75d4;
}
.dashboard-button.look-text.color-discord:active {
  color: #4260cd;
}
.dashboard-button.look-text.color-dark {
  color: #222222;
  transition: color 0.2s, box-shadow 0.2s;
}
.dashboard-button.look-text.color-dark:hover {
  color: #131313;
}
.dashboard-button.look-text.color-dark:active {
  color: #030303;
}
.dashboard-button.look-outlined.color-primary {
  color: #8104f5;
  border: solid 1px #8104f5;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-primary:hover {
  color: #7104d7;
  border-color: #7104d7;
}
.dashboard-button.look-outlined.color-primary:active {
  color: #6103b9;
  border-color: #6103b9;
  background-color: rgba(97, 3, 185, 0.1);
}
.dashboard-button.look-outlined.color-success {
  color: #43b581;
  border: solid 1px #43b581;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-success:hover {
  color: #3b9f71;
  border-color: #3b9f71;
}
.dashboard-button.look-outlined.color-success:active {
  color: #328861;
  border-color: #328861;
  background-color: rgba(50, 136, 97, 0.1);
}
.dashboard-button.look-outlined.color-light {
  color: #f4f5f6;
  border: solid 1px #f4f5f6;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-light:hover {
  color: #e3e6e8;
  border-color: #e3e6e8;
}
.dashboard-button.look-outlined.color-light:active {
  color: #d2d6da;
  border-color: #d2d6da;
  background-color: rgba(210, 214, 218, 0.1);
}
.dashboard-button.look-outlined.color-warning {
  color: #e19517;
  border: solid 1px #e19517;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-warning:hover {
  color: #c58314;
  border-color: #c58314;
}
.dashboard-button.look-outlined.color-warning:active {
  color: #a97011;
  border-color: #a97011;
  background-color: rgba(169, 112, 17, 0.1);
}
.dashboard-button.look-outlined.color-info {
  color: #17a2b8;
  border: solid 1px #17a2b8;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-info:hover {
  color: #148a9d;
  border-color: #148a9d;
}
.dashboard-button.look-outlined.color-info:active {
  color: #107282;
  border-color: #107282;
  background-color: rgba(16, 114, 130, 0.1);
}
.dashboard-button.look-outlined.color-error {
  color: #f04747;
  border: solid 1px #f04747;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-error:hover {
  color: #ee2b2b;
  border-color: #ee2b2b;
}
.dashboard-button.look-outlined.color-error:active {
  color: #e71313;
  border-color: #e71313;
  background-color: rgba(231, 19, 19, 0.1);
}
.dashboard-button.look-outlined.color-gray {
  color: #4f545c;
  border: solid 1px #4f545c;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-gray:hover {
  color: #626872;
  border-color: #626872;
}
.dashboard-button.look-outlined.color-gray:active {
  color: #757c88;
  border-color: #757c88;
  background-color: rgba(117, 124, 136, 0.1);
}
.dashboard-button.look-outlined.color-patreon {
  color: #e85b46;
  border: solid 1px #e85b46;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-patreon:hover {
  color: #e5432b;
  border-color: #e5432b;
}
.dashboard-button.look-outlined.color-patreon:active {
  color: #d6331b;
  border-color: #d6331b;
  background-color: rgba(214, 51, 27, 0.1);
}
.dashboard-button.look-outlined.color-discord {
  color: #7289da;
  border: solid 1px #7289da;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-discord:hover {
  color: #5a75d4;
  border-color: #5a75d4;
}
.dashboard-button.look-outlined.color-discord:active {
  color: #4260cd;
  border-color: #4260cd;
  background-color: rgba(66, 96, 205, 0.1);
}
.dashboard-button.look-outlined.color-dark {
  color: #222222;
  border: solid 1px #222222;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-outlined.color-dark:hover {
  color: #131313;
  border-color: #131313;
}
.dashboard-button.look-outlined.color-dark:active {
  color: #030303;
  border-color: #030303;
  background-color: rgba(3, 3, 3, 0.1);
}
.dashboard-button.look-hero.color-primary {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-primary:hover {
  border-color: #7104d7;
}
.dashboard-button.look-hero.color-primary:active,
.dashboard-button.look-hero.color-primary .active {
  color: #6103b9;
  border-color: #6103b9;
}
.dashboard-button.look-hero.color-success {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-success:hover {
  border-color: #3b9f71;
}
.dashboard-button.look-hero.color-success:active,
.dashboard-button.look-hero.color-success .active {
  color: #328861;
  border-color: #328861;
}
.dashboard-button.look-hero.color-light {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-light:hover {
  border-color: #e3e6e8;
}
.dashboard-button.look-hero.color-light:active,
.dashboard-button.look-hero.color-light .active {
  color: #d2d6da;
  border-color: #d2d6da;
}
.dashboard-button.look-hero.color-warning {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-warning:hover {
  border-color: #c58314;
}
.dashboard-button.look-hero.color-warning:active,
.dashboard-button.look-hero.color-warning .active {
  color: #a97011;
  border-color: #a97011;
}
.dashboard-button.look-hero.color-info {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-info:hover {
  border-color: #148a9d;
}
.dashboard-button.look-hero.color-info:active,
.dashboard-button.look-hero.color-info .active {
  color: #107282;
  border-color: #107282;
}
.dashboard-button.look-hero.color-error {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-error:hover {
  border-color: #ee2b2b;
}
.dashboard-button.look-hero.color-error:active,
.dashboard-button.look-hero.color-error .active {
  color: #e71313;
  border-color: #e71313;
}
.dashboard-button.look-hero.color-gray {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-gray:hover {
  border-color: #626872;
}
.dashboard-button.look-hero.color-gray:active,
.dashboard-button.look-hero.color-gray .active {
  color: #757c88;
  border-color: #757c88;
}
.dashboard-button.look-hero.color-patreon {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-patreon:hover {
  border-color: #e5432b;
}
.dashboard-button.look-hero.color-patreon:active,
.dashboard-button.look-hero.color-patreon .active {
  color: #d6331b;
  border-color: #d6331b;
}
.dashboard-button.look-hero.color-discord {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-discord:hover {
  border-color: #5a75d4;
}
.dashboard-button.look-hero.color-discord:active,
.dashboard-button.look-hero.color-discord .active {
  color: #4260cd;
  border-color: #4260cd;
}
.dashboard-button.look-hero.color-dark {
  color: rgba(255, 255, 255, 0.6);
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.dashboard-button.look-hero.color-dark:hover {
  border-color: #131313;
}
.dashboard-button.look-hero.color-dark:active,
.dashboard-button.look-hero.color-dark .active {
  color: #030303;
  border-color: #030303;
}
