@font-face {
  font-family: BlackPearl;
  src: url("/Blackpearl.woff2");
}

@font-face {
  font-family: CaptainsTable;
  src: url("/CaptainsTable.woff2");
}

body {
  background-image: url("mapbg3.jpg");
}

h1 {
  font-family: BlackPearl;
  font-size: clamp(1rem, 4vw, 4rem);

  text-align: center;
}

h2 {
  font-family: CaptainsTable;
  font-size: 2em;
  text align: center:
}

.logo {
  max-width: 100%;
  height: auto;
}
