@font-face {
  font-family: BlackPearl;
  src: url("/Blackpearl.woff2");
}

@font-face {
  font-family: CaptainsTable;
  src: url("/CaptainsTable.woff2");
}

body {
  background-image: url("mapbg3.jpg");
}

h1 {
  font-family: BlackPearl;
  font-size: 4em;
  text-align: center;
}

h2 {
  font-family: CaptainsTable;
  font-size: 2em;
  text align: center:
}

.logo {
  max-width: 100%;
  min-width: 15%;
  height: auto;
  background-image: url('chestsmall.png');
  background-width: 100%;
}

@media only screen and (min-width: 400px) {
  .logo {
    background-image: url('chest.png');
  }
} 
